{% extends 'base.html' %}       
{% load static %}
{% block body %}

<h2>{{ produto.nome }}</h2>

{% if tem_estoque %}


<img src={{produto.imagem.url}} width="300" height="450">
<p>Produto: {{produto.nome}} </p>
<p> Preço: {{produto.preco}} </p>
{% endif %}

{% if cor_selecionada %}

Cor: {{cor_selecionada.nome}}

{% endif %}

<!-- show the colors -->
{% for cor in cores %}

<a href="{% url 'ver_produto' produto.id cor.id  %}">
    <i class="fa-solid fa-circle" style="color: {{cor.codigo}}"></i>
</a>
{% endfor %}

{% if tamanhos %}
<form method="POST" action="{% url 'adicionar_carrinho' produto.id %}">
    {% csrf_token %}
    <p>Selecione o Tamanho: </p>

    {% for tamanho in tamanhos %}
    <input type="radio" name="tamanho" value="{{tamanho}}">
    <label for="{{tamanho}}">{{tamanho}}</label>
    {% endfor %}

    <input type="hidden" name="cor" value="{{cor_selecionada.id}}">

    <button type="submit">Adicionar ao Carrinho</button>
</form>

{% else %}

<p>Produto Fora de Estoque</p>

{% endif %}

{% endblock %}  


